body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 130vh;
    background: linear-gradient(135deg, #282c34, #ffffff);
  }
  
  .dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
  }
  
  .tabs {
    display: flex;
    margin-bottom: 20px;
  }
  
  .tab {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(45deg, #b700fa, #2575fc);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .tab.active {
    background: linear-gradient(45deg, #f7971e, #ffd200);
  }
  
  .tab:hover {
    transform: scale(1.1);
  }
  
  .form-container,
  .courses-container,
  .products-container,
  .requests-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    background-color: #3f51b5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #5c6bc0;
  }
  
  .course-item,
  .product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .request-item {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .request-item button,
  .course-item button,
  .product-item button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #3f51b5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .request-item button:hover,
  .course-item button:hover,
  .product-item button:hover {
    background-color: #5c6bc0;
  }
  
  .delete-button {
    background-color: #d32f2f;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: #b71c1c;
  }
  
  .success {
    color: #388e3c;
    background: #e8f5e9;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px 0;
  }
  
  .error {
    color: #d32f2f;
    background: #fbe9e7;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px 0;
  }
  